/* CSS Reset */
* {
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
/* Nav Bar */
#navbar {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
}

#navbar::before{
            content: "";
            position: absolute;
            height: 100%;
            width: 100%;
            margin: 0px;
            background-color: lightblue;
            z-index: -1;
            opacity:0.1;
        }

/* Nav Bar: Logo and Image */
#logo {
    margin: 0px 30px 0px 6px;
}

.image {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 5px 20px 0px 0px;
}

/* Nav Bar: List */
#navbar ul {
    display: flex;
}

#navbar ul li {
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    list-style: none;
    font-size: 1.3rem;
    /* margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px; */
}

#navbar ul li a {
    text-decoration: none;
    color: black;
    display: block;
    /* padding: 0px 45px 0px 0px; */
    padding: 5px 37px 7px 35px;
    transition: all 0.3s linear 0s;
    background-color: white;
    /* border-radius: 23px; */
}

#navbar ul li a:hover {
    background-color: black;
    transform: scale(1.2);
    color: white;
    opacity: 1;
}

/* Home Section */
#home {
    display: flex;
    flex-direction: column;
    padding: 23px 23px;
    height: 240px;
    justify-content: center;
    align-items: center;
}

#home h1 {
    font-size: 2.3rem;
    font-family: 'Roboto Slab', serif;
    padding: 30px;
    color: navy;
    text-align: center;
    position: relative;
    animation: h1-animation 3s linear  1s infinite forwards ;
}
@keyframes h1-animation {
    from{ 
        left: -600px;
        color: red;
    }
    to{
        left: 0px;
        color: blue;
    }
}


#home p {
    font-size: 1.3rem;
    font-family: 'Roboto Slab', serif;
    padding: 1px;
    text-align: center;

}

#home::before {
    content: "";
    position: absolute;
    background: url('../Img/bg1.jpg') no-repeat center center/cover;
    height: 100vh;
    width: 101.1vw;
    z-index: -1;
    opacity: 0.6;
}
.btn{
    border: 3px solid black;
    padding: 4px 40px 4px 40px;
    margin: 35px 0px 0px 0px;
    display: inline-block;
    background-color: beige;
    color: teal;
    font-size: 1rem;
    border-radius: 20px;
}
.btn:hover{
    transform: scale(1.1);
    cursor: pointer;
}

/* About Us Section */
#aboutus h1{
    display: flex;
    justify-content: center;
    font-family: 'Kalnia', serif;
    font-size: 150px;
    color: black;
    margin: 20px 0px 0px 500px;
    position: relative;
    top: 50px;
}
#aboutus h2{
    display: flex;
    margin: 40px 0px 40px 160px ;
    padding: 0px 0px 0px 0px;
    font-family: 'Kalnia', serif;
    color: rgb(177 17 175);
    
}
.combine-p{
    border: solid 3px #770b0b;
    width: 620px;
    margin: 80px 0px 0px 50px;
    padding: 0px 0px 0px 0px;
    background-color: #5e4a4a;
    border-radius: 20px;
}
.p1{
    text-align: justify;
    margin: 15px 15px 3px 10px; 
    color: lightcoral;
    font-family: 'Josefin Slab', serif;
    font-weight: bolder;
    
}

#aboutus::before{
    content: "";
    position: absolute;
    background: url('../Img/aboutuspic.jpg') no-repeat center  center/cover;
    background-position: center 43px;
    height: 1022px;
    width: 100vw;
    z-index: -1;
    opacity: 0.7;
}
.fixed{
    margin: 178px 0px 0px 0px;
}
#aboutus{
    background-image: url('../Img/aboutuspic.jpg') no-repeat center center/cover;
}
.main-img{
    display: flex;
    flex-direction: row;
    float: right;
    margin-top: 10px;
    padding: 0px;
    height: 400px;
}
.r-image{
    height: 550px;
    width: 320px;
    border-radius: 20px;
}
.l-image{
    height: 550px;
    width: 320px;
    margin: 25px;
    padding: 0px;
    border-radius: 20px;
}

/* RSVP Section */
#rsvp {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 247px 0px 0px 0px;
}
#rsvp::before {
    content: "";
    position: absolute;
    background: url('../Img/bg\ 2.jpg') no-repeat center center/cover;
    height: 730px;
    width: 101.1vw;
    z-index: -1;
    opacity: 0.6;
}
#rsvp .rsvp{
    display: flex;
    justify-content: center;
    margin: -78px 0px 0px 0px;
    font-family: 'Kalnia', serif;
    font-size: 50px;
    /* color: #04303d; */
    color: #001F3F;
}
#rsvp .name{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 240px 0px 0px 0px;
    padding: 0px 100px 0px 125px;
    height: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: black;
}
#rsvp .contact{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0px 0px 515px;
    padding: 0px 0px 0px 0px;
    height: 20px;
    width: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: black;

}
#rsvp #edit{
    padding: 2px 6px 4px 85px;
    margin: -2px 70px -2px 20px;
    justify-content: center;
}
#rsvp .span{
    position: absolute;
    color: red;
    padding: 110px 0px 0px 260px;
    font-family: 'Kalnia', serif;
    font-size: 22px;
    font-weight: bold;
}
#rsvp .reject{
    display: flex;
    justify-content: center;
    margin-top: 55px;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
}
#rsvp .accept{
    margin: 44px 0px 0px 340px;
    padding: 0px 0px 0px 35px;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
}
#rsvp #acpt1{
    border: solid 10px;
    border-radius: 50%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
}
#rsvp .submit{
    display: flex;
    border: solid black 3px;
    margin: 25px 0px 0px 125px;
    padding: 10px 30px 10px 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    border-radius: 23px;
    cursor: pointer;
    background-color: black;
    color: white;
}
#rsvp .submit:hover{
    background-color: white;
    color: red;
    transform: scale(1.2);
}

/* CLient Section */
#client-section{
    height: 344px;
    position: relative;
}
#client-section::before{
    content: "";
    position: absolute;
    background: url("../Img/client.jpg");
    width: 100vw;
    height: 275px;
    z-index: -1;
    opacity: 0.5;
}

#client-items{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 0px 0px ;
    padding: 0px 75px 0px 0px;
}
#client-section #language{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Kalnia', serif;
    margin: 30px 0px 0px 0px;
}

/* Contact US Section */
#contactus-section{
    position: relative;
}
#contactus-section::before{
    content: "";
    position: absolute;
    background: url("../Img/contact.avif") no-repeat center center/cover;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    opacity: 0.7;
}
#h-secondary{
    font-family: 'Kalnia', serif;
    margin: -30px 0px 0px 0px ;
    padding: 105px;
}
#contact-box{
    display: flex;
    padding-left: 155px;
}
#contact-box .form-group{
    margin: 30px;
}
#contact-box #form{
    display: flex;
    height: 50px;
    width: 450px;
    border: 2px solid gray;
    border-radius: 9px;
}
#contact-box ::placeholder{
    color: black;
    padding: 9px;
    font-size: 0.8rem;
    font-family: Arial, Helvetica, sans-serif;
}
#contact-box .button{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
    background-color: rgb(32, 32, 42);
    color: white;
    border-radius: 9px;
    border: 3px solid gray;
    height: 65px;
    width: 270px;
    margin: 0px 0px 0px 65px;
}
#contact-box .button:hover{
    cursor: pointer;
    transform: scale(1.1);

}

/*Footer Section*/
footer{
    background-color: black;
    color: white;
    width: 1490px;
    padding: 14px 23px;
    display: flex;
    justify-content: center;
    margin-top: 142px ;
}